@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
.active {
  @apply text-secondary border-b-2;
  border-image: linear-gradient(to right, #6ee7b7, #9333ea) 1;
  border-bottom-width: 2px; /* Ensure the bottom border width is applied */
}

/* Style for the custom pagination buttons */
.custom-pagination-btn {
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-pagination-btn:hover {
  background-color: #ddd;
}

.custom-pagination-btn.swiper-pagination-bullet-active {
  background-color: #ffd700;
  border-color: #ffd700;
}
